@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&family=Nanum+Gothic:wght@700;800&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,900;1,600&display=swap');



#news-section {
    background-color: rgb(245, 246, 234);
    align-items: center;
    justify-content: center;
    padding: 1.8em;
    margin: 4em auto;
}

#news-section .row {
    align-items: center;
}

#news-section .row:last-child {
    font-family: 'Montserrat Alternates', sans-serif;
}

#news-section h2 {
    font-family: 'Mate SC', serif;
    /* font-family: 'Mate SC', serif; */
    font-family: 'Cabin Sketch', cursive;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    color: black;
}

#news-section img {
    width: 30%;
}

#news-section .news-card {
    background-color: transparent !important;
    font-weight: bold;
}

#news-section .list-group-item {
    background-color: transparent !important;
    margin-top: 1em;
    padding: 0 !important;
}

#news-section .news-main-img img { 
    width: 100%;
}

#news-section .news-main-img h4 {
    font-weight: bold;
    margin: .5em auto;
    letter-spacing: .8px;
}