
a {
    text-decoration: none;
    text-underline-position: under;
    color: #000;
    transition: all ease-in-out .3s;
    display: inline;
}

a:hover {
    text-decoration: underline;
    color: #000;
}
